*{
			box-sizing:border-box;
		}

    #btn_get_data{

    }
    #btn_get_data.changed{
      visibility: hidden;
    }

		#hidethis{
			opacity:1;
		}
		#hidethis.changed{
			visibility: hidden;
		}
		#loading{
			opacity:1;
		}
		#loading.changed{
			visibility: hidden;
		}
		#latDesc{
			opacity:1;
			display: inline;
		}
		#latDesc.changed{
			visibility: hidden;
		}
		#longDesc{
			opacity:1;
			display: inline;
		}
		#longDesc.changed{
			visibility: hidden;
		}
		#getLoLa{
			opacity:1;
			display: inline;
		}
		#getLoLa.changed{
			visibility: hidden;
		}
		#country{
			color:#2d5986;
		}
		#name{
			color:#2d5986;
		}
		#temp{
			color:#336699;
		}
		#feelsLike{
			color:#3973ac;
		}
		#weatherMain{
			color:#3366cc;
		}
		#weatherDesc{
			color:#4775d1;
		}
		#pressure{
			color:#336699;
		}
		#humidity{
			color:#336699;
		}
		#report{
			color:#2d5986;
		}

		.italy{
			font-style: italic;
		}
		.container{
			display: grid;
			grid-template-areas:
    		"header header"
    		"menu content"
    		"footer footer";
			grid-template-columns: 3fr 3fr 3fr;
		}
		.container > div {
			background-color: rgba(255, 255, 255, 0.8);
  		padding: 10px;
		}
		.container > div.content{
			grid-area: content;
		}
		div.menu {
  		grid-area: menu;
		}
		.container > div.menu2 {
  		grid-area: menu;
		}
		body{
			background-image: url(assets/weather.JPG);
			background-size: cover;
		}
		article{
			text-align:center;
			columns:1;
			padding:0.72em;
			background-image: url(assets/starback.gif);
			background-size: 500px 100px;
			background-repeat: no-repeat;
			background-position: center center;
		}


		header{
			background-image: linear-gradient(to bottom, #66ccff, #ccffff);
			opacity: 0.79;
		}
		header:hover {
    opacity: 1.0;
    }
		footer{
			background-image: linear-gradient(to top, #66a3ff, #99ccff);
			text-align:center;
			font-size:1.18em;
			font-style:bold;
			padding: 10em, 25em, 10em, 25em;
			border: 5px outset grey;
		}
		h1{
			text-align:center;
			color: blue;
		}
		  h1.changed{
		    text-align:center;
		    color:darkred;
		}
		h2{
			text-align:center;
		}
		h3{
			text-align:center;
			color: #ccffff;
		}

    .journalHdr{
      font-size:18px;
      color: forestgreen;
    }
		a:hover{
			opacity: 1.0;
		}
		@media only screen and (max-width: 720px) {
  			body {
    				background-color: #ffe0b3;
 			     }
		}

    a:link, a:visited {
    color: blue;
    text-decoration: none;
    cursor: auto;
		font-size: 24px;
    }
    .earth{
      height:77px;
    }
    .clouds{
      height:77px;
      width:145px;
    }
    .divider{
      opacity:0.31;
    }
    .belowWaves{
      color:white;
    }
    .invisible{
      opacity:0;
    }
