*{
			box-sizing:border-box;
		}

    #btn_get_data{
      opacity: 1;
    }
    #btn_get_data.changed{
      visibility: hidden;
    }
		body{
			background-image: url(assets/weather.JPG);
			background-size: cover;
		}
		article{
			text-align:center;
			columns:1;
			padding:1em;
		}
		.nav{
			display:flex;
			flex-direction:row;
			padding-bottom:.3em;
			font-size:1em;
			background-image: url(assets/gif/clouds-scroll-horizontal.gif);
			background-size:cover;
			flex:1;
			opacity: 0.69;
		  }
		  .nav:hover {
      opacity: 1.0;
      }
		.navlink{
			display:flex;
			justify-content: center;
			color:#000066;
			background-color:#ccccff;
			text-decoration:none;
			margin:1em;
			padding-left:1em;
			padding-right:1em;
			padding-top:.5em;
			padding-bottom:.5em;
			border:5px solid #6666ff;
			border-radius:1px;
		}

		header{
			background-image: linear-gradient(to bottom, #66ccff, #ccffff);
			opacity: 0.79;
		}
		header:hover {
    opacity: 1.0;
    }
		footer{
			background-image: linear-gradient(to top, #66a3ff, #99ccff);
			text-align:center;
			font-size:1.75em;
			font-style:bold;
			padding: 25em, 25em, 25em, 25em;
			border: 5px outset grey;
		}
		h1{
			text-align:center;
			color: blue;
		}
		  h1.changed{
		    text-align:center;
		    color:darkred;
		}
		h2{
			text-align:center;
		}
		h3{
			text-align:center;
		}

    .journalHdr{
      font-size:18px;
      color: forestgreen;
    }
		a:hover{
			opacity: 0.6;
		}
		@media only screen and (max-width: 720px) {
  			body {
    				background-color: #ffe0b3;
 			     }
		}

		.imgNeo{
		  padding:5px,1em,5px,1em;
		}
    a:link, a:visited {
    color: blue;
    text-decoration: none;
    cursor: auto;
    }
    .earth{
      height:77px;
    }
    .clouds{
      height:77px;
      width:145px;
    }
    .divider{
      opacity:0.31;
    }
    .belowWaves{
      color:white;
    }
    .invisible{
      opacity:0;
    }
